

<div class="hero-image">
<!-- <img src="assets/logo.jpeg" width="200" height="170" style="display:inline"> -->
<div style="text-align: center;">
  <br><br>
<h1 align="center" > FAQs </h1>
<!-- <button type='button' class="btn btn-primary btn-block/" routerLink="/">Home</button>  <br><br> -->
<div align="center" class="faq">
  <div style="text-align: center;">
    
    <div class="title">
    <!-- <p>FAQ</p> -->
    </div>
    <br>
    

    <div class="wrapper">
    <div class="card">
      <input type="checkbox" id="card1" class="more" aria-hidden="true">
      <div class="content">
          <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
              <div class="inner">
                  <h2>How long does process take?</h2>
                 
                  <label for="card1" class="button" aria-hidden="true">
                      Answer
                  </label>
              </div>
          </div>
          <div class="back">
              <div class="inner">
                  <div class="description">
                      <p>The actual length of time varies by homeowner. When you apply for a loan with Discover, 
                          we'll make sure that you're updated on your progress and closing date along the way. 
                          Generally speaking, the faster you can provide information we request to confirm your eligibility, 
                          the quicker we can move your loan file through the process.</p>
                  </div>
                  <div class="location">Duration</div>
                  <label for="card1" class="button return" aria-hidden="true">
                      <i class="fas fa-arrow-left"></i>
                  </label>
              </div>
          </div>
      </div>
  </div>

  <div class="card">
    <input type="checkbox" id="card2" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
            <div class="inner">
                <h2>Why is my credit score important?</h2>
               
                <label for="card2" class="button" aria-hidden="true">
                    Answer
                </label>
            </div>
        </div>
        <div class="back">
            <div class="inner">
                <div class="description">
                    <p>Your credit score is a way of measuring how likely you are to pay (or not pay) your bills. It's just one of the key factors that the lender looks at when deciding if they will approve your loan application and for what amount and at what interest rate.</p>
                </div>
                <div class="location">Credit Score</div>
                <label for="card2" class="button return" aria-hidden="true">
                    <i class="fas fa-arrow-left"></i>
                </label>
            </div>
        </div>
    </div>
</div>



<div class="card">

    <input type="checkbox" id="card3" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
            <div class="inner">
                <h2>What does Encumbrance refer to?</h2>
               
                <label for="card3" class="button" aria-hidden="true">
                    Answer
                </label>
            </div>
        </div>
  <div class="back">
    <div class="inner">
        <div class="description">
          <p> Encumbrance on a property refers to claims or charges on the property due to liabilities such as unpaid loans and bills. </p> 
        </div>
        <div class="location">Encumbrance</div>
        <label for="card3" class="button return" aria-hidden="true">
            <i class="fas fa-arrow-left"></i>
        </label>
    </div>
</div>

</div>









   
    </div>
    </div>
    
    <div class="wrapper">
      <div class="card">
          <input type="checkbox" id="card4" class="more" aria-hidden="true">
          <div class="content">
              <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                  <div class="inner">
                      <h2> What is Commercial Property Loan?</h2>
                     
                      <label for="card4" class="button" aria-hidden="true">
                          Answer
                      </label>
                  </div>
              </div>
              <div class="back">
                  <div class="inner">
                     
                      <div class="description">
                        <p>This is a loan for purchase of a new or existing office or clinic as well as for extension, improvement or construction of an office or clinic. </p>
                      </div>
                      <div class="location">Commercial Property Loan</div>
                      <label for="card4" class="button return" aria-hidden="true">
                          <i class="fas fa-arrow-left"></i>
                      </label>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <input type="checkbox" id="card5" class="more" aria-hidden="true">
          <div class="content">
              <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                  <div class="inner">
                      <h2> What is Home Improvement Loan?</h2>
                     
                      <label for="card5" class="button" aria-hidden="true">
                          Answer
                      </label>
                  </div>
              </div>
              <div class="back">
                  <div class="inner">
                     
                      <div class="description">
                        <p>It is a loan for renovating(without altering the structure/carpet area) your home in ways like tiling ,flooring, internal / external plaster and painting etc.</p>
                      </div>
                      <div class="location">Home Improvement Loan</div>
                      <label for="card5" class="button return" aria-hidden="true">
                          <i class="fas fa-arrow-left"></i>
                      </label>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <input type="checkbox" id="card6" class="more" aria-hidden="true">
          <div class="content">
              <div class="front" style="background-image: url('https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=986e2dee5c1b488d877ad7ba1afaf2ec&auto=format&fit=crop&w=1350&q=80')">
                  <div class="inner">
                      <h2>What does EMI mean?</h2>
                     
                      <label for="card6" class="button" aria-hidden="true">
                          Answer
                      </label>
                  </div>
              </div>
              <div class="back">
                  <div class="inner">
                     
                      <div class="description">
                        <p>EMI refers to the ‘Equated Monthly Installment’ which is the amount you will pay to us on a specific date each month till the loan is repaid in full.</p> 
                
                      </div>
                      <div class="location">EMI</div>
                      <label for="card6" class="button return" aria-hidden="true">
                          <i class="fas fa-arrow-left"></i>
                      </label>
                  </div>
              </div>
          </div>
      </div>


          </div>

    