<!-- Latest compiled and minified CSS -->

<!-- <div class="hero-image"> -->
  <!-- <img src="assets/logo.jpeg" width="200" height="170" style="display:inline"><br><br><br><br><br><br> -->
  <div class="container-fluid full">
  
  <section class="service-section py-5">
    <div class="container">
      <div class="row justify-content-center py-3">
        <div class="col-md-8 col-12 text-center">
          <p class="service-main-heading">Features</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-12">
          <div class="icon-box">
            <i class="fa fa-briefcase service-icon"></i>
            <p class="service-title"><a href="#">Home Loan products to suit every customers need</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fa fa-clipboard service-icon"></i>
            <p class="service-title"><a href="#">Low interest rates</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fa fa-chart-bar service-icon"></i>
            <p class="service-title"><a href="#">Low processing fee</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fa fa-binoculars service-icon"></i>
            <p class="service-title"><a href="#">No hidden charges</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fa fa-cog service-icon"></i>
            <p class="service-title"><a href="#">No pre payment penality</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fa fa-calendar-alt service-icon"></i>
            <p class="service-title"><a href="#">Interest charges on daily reduced balance</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12">
          <div class="icon-box">
            <i class="fa fa-briefcase service-icon"></i>
            <p class="service-title"><a href="#">Re payment upto 30 years</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12">
          <div class="icon-box">
            <i class="fa fa-briefcase service-icon"></i>
            <p class="service-title"><a href="#">Home loan available as overdraft</a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12">
          <div class="icon-box">
            <i class="fa fa-briefcase service-icon"></i>
            <p class="service-title"><a href="#">Interest concession for women borrowers </a></p>
            <p class="service-para"></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-12">
          <div class="icon-box">
            <i class="fa fa-briefcase service-icon"></i>
            <p class="service-title"><a href="#">Free loan upto 50 lakhs..No payment needed</a></p>
            <p class="service-para"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>