.head{
    text-align: center;
}
.card-body{
    box-shadow: 0 0 10px 3px rgba(0,0,0,1); 

}
.card{
    margin: 10px 10 px;
}
.row{
    margin-left: 50px;
}
#f1{
    margin-left: 10%;
}
.card--title{
    text-align: center;
    color: white;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    
  

}
li{ 
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.hero{
    background-image: url('../../assets/about_bg.jpg'); /* The image used */
    filter:blur(2px);
    filter:brightness(50%);
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat:no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .full {
    background: url('../../assets/img3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -1.5%;
}