<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 " style="filter: blur(5px);filter: brightness(30%);" src="./assets/aboutus.jpg" alt="First slide">

  <div class="carousel-caption d-none d-md-block">
    
  <h1 class="head">ABOUT US</h1>
  </div>

    </div>
    
  </div>
</div>






<div class="container-fluid full">






  <br />
  <br />

  <div class="row">

    <div class="col-md-5">
      <div class="card-text-center">
        <img src="assets/value.jpg" class="card-img-top">
        <div class="card-body">
          <h3 class="card--title"><b> Our Values</b></h3><br><br>
          <div class="card-text">
            <ul>
              <li>Trust</li><br />
              <li>Transparency</li><br />
              <li>Integrity</li><br />
              <li>Excellence</li><br />
              <li>Long term</li><br>
              <li>Trust</li><br>
            </ul>

          </div>

        </div>
      </div>
    </div>



    <div class="col-md-5" id="f1">
      <div class="card-text-center">
        <img src="assets/cust.jpg" class="card-img-top">
        <div class="card-body">
          <h3 class="card--title"><b> Value to Customers</b></h3><br><br>
          <div class="card-text">
            <ul class="fa-ul">
              <li>Wide Product Range</li><br />
              <li>Interest Calculation on Daily Reducing Balance</li><br />
              <li>Overdraft Facility available</li><br />
              <li>Low Interest Rates</li><br />
              <li>Low Processing Fees</li><br />
              <li>No Hidden Costs</li><br>

            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>
  <br>


</div>