<!-- Latest compiled and minified CSS -->

<div class="hero">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>





  <h1 class="head">ABOUT US</h1>
  <br />
  <br />

  <div class="row">

    <div class="col-md-4">
      <div class="card-text-center">
        <img src="assets/value.jpg" class="card-img-top">
        <div class="card-body">
          <h3 class="card--title">Our Values</h3><br><br>
          <div class="card-text">
            <ul>
              <li>Trust</li><br />
              <li>Transparency</li><br />
              <li>Integrity</li><br />
              <li>Excellence</li><br />
              <li>Long term</li><br>
              <li>Trust</li><br>
            </ul>

          </div>

        </div>
      </div>
    </div>








    <div class="col-md-5" id="f1">
      <div class="card-text-center">
        <img src="assets/cust.jpg" class="card-img-top">
        <div class="card-body">
          <h3 class="card--title">Value to Customers</h3><br><br>
          <div class="card-text">
            <ul class="fa-ul">
              <li>Wide Product Range</li><br />
              <li>Interest Calculation on Daily Reducing Balance</li><br />
              <li>Overdraft Facility available</li><br />
              <li>Low Interest Rates</li><br />
              <li>Low Processing Fees</li><br />
              <li>No Hidden Costs</li><br>

            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>