.calc {
    text-align: center;
    border: 3px solid blue;
  }
  .left-title{
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
.container{
    margin-left: 22%;
}

.result{
    font-size: 16px;
    font-weight: 600;
}
h5,h6{
    color: gray;
}
.borderrad{
    border-radius: 15px;
}
.btn{
    margin-left: 40%;
}
.active{
    background-color: lightgray;
}

h1{
    font-size: 35px;
    color: gray;
}

.col-lg-3{
    margin-top: 5%;
    display: inline ;
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 15px;
        color: gray;
    }
   
}
@media only screen and (min-width: 992px) {
    h1{
        font-size: 35px;
        margin-bottom: -20px;   
    }
}

