<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="hero-image">

  
  <br />
  <br />

  <div class="col-md-4" id="f1">
    <div class="card-text-center">
      
      <div class="card-body">
        <h3 class="card--title">Documents Required</h3><br><br>
        <div class="card-text">
          <ul>
            <li>Aadhar Card</li><br>
            <li>Voter Id</li><br>
            <li>PAN Card</li><br>
            <li>Salary slip</li><br>
            <li>Letter of Agreement</li><br>
            <li>Non objectional certificate</li><br>
            <li>Agreement of Sale</li><br>
          </ul>

        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4" id="f2">
    <img src="assets/docs.jpg" class="card-img-top">
  </div>
</div>

